html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden !important;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }

  img {
    max-width: 100%;
  }
}

$bps: (
  "xs": 320px,
  "sm": 350px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1520px,
);


@mixin breakpoint-up($size) {
  @media screen and (min-width: map-get($bps, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media screen and (max-width: map-get($bps, $size)) {
    @content;
  }
}

.btn-main {
    padding: 0 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #AD67C8;
    color: #fff;
    border: none;
    border-radius: 3px;
    &:hover {
        background: #AD67C8;
        color: #fff;
    }
}

.container {
    max-width: 1140px;
}

label {
    width: 100%;
    margin-bottom: 20px;
    p {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
        span {
            color: #477ef7;
        }
    }
    .invalid-field {
        font-size: 12px;
        color: rgb(253, 52, 52);
    }
}
input,select {
    height: 40px;
    border-radius: 3px;
    font-size: 12px!important;
    color: #636363!important;
    border: 1px solid #636363;
    width: 100%;
    &::placeholder {
        font-size: 12px;
        color: #636363;
    }

    option{
        font-size: 12px;
        color: #636363;
    }

}
input {
    &:read-only {
        background: #cacaca;
    }
}
.wrap-fields {
    display: flex;
    gap: 15px;
}

.wrap-address {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 15px;
    margin-bottom: 20px;

    .input-adress {
        &:first-of-type {
        width: 30%;
        }
        &:nth-of-type(2) {
        width: calc(70% - 10px);
        }
        &:nth-of-type(3) {
        width: 20%;
        }
        &:nth-of-type(4) {
        width: calc(40% - 10px);
        }
        &:nth-of-type(5) {
        width: calc(40% - 10px);
        }
        &:nth-of-type(6) {
        width: calc(80% - 10px);
        }
        &:nth-of-type(7) {
        width: 20%;
        }
    }
    }
.title-label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}


.success-msg {
    margin-bottom: 32px;
    p {
        font-size: 14px;
        color: rgb(5, 82, 5);
    }
}
